.navbar-laravel {
    background-color: #292b2c;
    border-color: #dee2e6;
}
.navbar-laravel:hover{
    color: #0275d8;
}
.navbar-laravel .navbar-nav .nav-link {
    color: #dee2e6;
}

.navbar-light .navbar-brand{
    color: #dee2e6;
}

body {
    background-color: #343a40;
}